<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                        Users  (Add User)
                    </div>

                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Profile Pic </th>
                                    <th> Name </th>
                                    <th> Email </th>
                                    <th> Phone </th>
                                    <th> Gender </th>
                                    <th> DOB </th>
                                    <th> Biography </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in users">
                                    <td> <img :src="user.image_src" width="75" height="100" /> </td>
                                    <td> {{user.name}} </td>
                                    <td> {{user.email}} </td>
                                    <td> {{user.phone}} </td>
                                    <td> {{user.gender}} </td>
                                    <td> {{user.dob}} </td>
                                    <td> {{user.biography}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data(){
            return{
                users:[]
            }
        },

        created(){
            this.getUsers();
        },

        methods:{
        
            getUsers: function() {

                $.getJSON("api/user", function (users1){
                   this.users = users1;
                }.bind(this));

            }
        }
    }
</script>
